
body {
    background-color: aquamarine;

}

h1 {
    color: #12128c;
}

p {
    color: crimson;
}

a:link {
    color: #02146d;
    border: 1px black solid;
    background-color: #7c9cd4;
    text-decoration: none;
}

a:hover {
    color: #041eb1;
    border: 1px black solid;
    background-color: #7c9cd4;
    text-decoration: underline;
}

a:active {
    color: #0a2eee;
    border: 1px black solid;
    background-color: #7c9cd4;
    text-decoration: underline;
}

a.home {
    color: forestgreen;
    border: 1px black solid;
    background-color: #70ef56;
}
